
*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;

}






.users_grid{
    padding: 1em ;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em; ;
    background-color: white;
    border: 0.01em rgba(0, 0, 0, 0.393) solid;
}

.pfp_circle{
    border: solid black 3px ;
    aspect-ratio: 1;
    height: 80%;
    border-radius: 50%;
}