.user_item {
    border: 0.01em solid rgba(0, 0, 0, 0.215);
    box-sizing: border-box;
    height: 20vh;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: auto;
    width: 95%;
    transition: all ease 0.3s;
    scale: 1;
}

.user_item:hover {
    scale: 1.05;
}

.rights,
.lefts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lefts {
    gap: 1em;
    height: 100%;
}


.name {
    font-weight: 900;
}


.cnt-btn {
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 0.5em;
    margin: 0.5em 1em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.info p {
    color: rgba(0, 0, 0, 0.655);
}



.isActive {
    top: 0;
    left: 0;
    aspect-ratio: 1;
    width: 1em;
    background-color: #32de84;
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
}


